* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #5cbbff;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
}

h1#landing {
  text-align: center;
  line-height: 100vh;
  font-size: 72px;
  color: white;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 15px;
}

h2 {
  font-size: 28px;
  line-height: 32px;
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 10px;
}

#central_section {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#central_section form {
  width: 100%;
}

#central_section input {
  position: relative;
  padding: 5px 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
  width: 100%;
  margin: 20px 0;
  border-radius: 3px;
  height: 35px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.input_container {
  position: relative;
}

.input_container::before {
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 9px;
  color: #5cbbff;
  font-size: 16px;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 0.2s;
}

.input_container.active::before {
  display: block;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 7px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

div#email_div::before {
  content: 'Email';
}
div#password_div::before {
  content: 'Hasło';
}

div#email_conf_div::before {
  content: 'Potwierdź Email';
}

div#name_div::before {
  content: 'Imię';
}

#central_section input[type='submit'] {
  display: block;

  width: 100px;
  margin: 20px auto;
  background-color: #fff;
  color: #5cbbff;
  font-weight: bold;
}

#central_section p {
  margin: 30px 0;
  text-align: center;
  color: white;
}

#central_section p a {
  color: #2c52ff;
}
