* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
}

body#intro {
  background-color: #5cbbff;
}

.alerts-box {
  position: absolute;
  top:10px;
  left:0;
  width: 100%;
  z-index: 100;
}

.empty_alert, .yellow_alert {
  text-align: center;
  padding: 3px 6px;
  margin: 10px;
  border-radius: 3px;
}

.empty_alert {
  color: white;
  background-color: #ff7a7a;
}

.yellow_alert {
  background-color: #ffd666;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
}

h1#landing {
  text-align: center;
  line-height: 100vh;
  font-size: 72px;
  color: white;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 15px;
}

h2 {
  font-size: 28px;
  line-height: 32px;
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 10px;
}

h3 {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}



#central_section {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#central_section form {
  width: 100%;
}

#central_section input {
  position: relative;
  padding: 5px 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
  width: 100%;
  margin: 20px 0;
  border-radius: 3px;
  height: 35px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.box input,.box select, select.role_input {
  position: relative;
  padding: 5px 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
  width: 100%;
  margin: 20px 0 10px;
  border-radius: 3px;
  height: 35px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.box input[type='submit'] {
  display: block;
  cursor:pointer;
  width: 100px;
  margin: 5px auto 10px;
  background-color: #fff;
  color: #5cbbff;
  font-weight: bold;
}

button {
  cursor:pointer;
}

.input_container {
  position: relative;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto
}

.input_container::before {
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 9px;
  color: #5cbbff;
  font-size: 16px;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 0.2s;
}

#intro .input_container::before {
  top: 49%;
  left: 9px;
  color: #5cbbff;
  font-size: 16px;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 0.2s;
}

#intro .input_container.active::before {
  display: block;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 7px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.input_container.active::before {
  display: block;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 7px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

div#email_div::before {
  content: 'Email';
}
div#password_div::before {
  content: 'Hasło';
}

div#email_conf_div::before {
  content: 'Potwierdź Email';
}

div#name_div::before {
  content: 'Imię';
}

div#title_div::before {
  content: 'Tytuł';
}

div#title2_div::before {
  content: 'Tytuł';
}

div#lang_div::before {
  content: 'Język';
}

div#name_div::before {
  content: 'Nowa nazwa';
}

div#class_div::before {
  content: 'Wybór klas';
}

#central_section input[type='submit'] {
  display: block;

  width: 100px;
  margin: 20px auto;
  background-color: #fff;
  color: #5cbbff;
  font-weight: bold;
}

#central_section p {
  margin: 30px 0;
  text-align: center;
  color: white;
}

#central_section p a {
  color: #2c52ff;
}

#burger_container {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 26px;
  transition: 0.5s;
  z-index: 3;
}

#burger_container.active {
  left: 260px;
}

#burger {
  width: 40px;
  height: 26px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 3;
}

#burger span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #ffbe3b;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#burger span:nth-child(1) {
  top: 0px;
}

#burger span:nth-child(2),
#burger span:nth-child(3) {
  top: 11px;
}

#burger span:nth-child(4) {
  top: 21px;
}

#burger.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

#burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#burger.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

aside {
  position: fixed;
  left: -254px;
  width: 250px;
  top: 0;
  background-color: #5cbbff;
  transition: 0.5s;
  transform: translateX(0);
  height: 100vh;
  z-index: 2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

aside.active {
  transform: translateX(250px);
  height: 100vh;
  width: 250px;
  top: 0;
  background-color: #5cbbff;
}

aside a.logout {
  color: #ff7a7a;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 2px solid #ff7a7a;
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  border-radius: 2px;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

div#profile_picture {
  width: 100%;
  margin: 20px 0 12px;
}

div#profile_picture span {
  display: block;
  margin: 0 auto;
  height: 75px;
  width: 75px;
  background-color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 75px;
  border-radius: 50%;
  color: #9a5151;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

p#name {
  text-align: center;
  font-size: 32px;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

nav {
  margin: 25px 0;
}

nav ul {
  max-height: 250px;
  list-style-type: none;
  overflow-y: scroll;
}

nav ul li a {
  border-top: 1px solid #6d6d6d15;
  text-decoration: none;
  color: white;
  display: block;
  line-height: 40px;
  padding: 0 15px;
  cursor: pointer;
}

nav ul li:nth-last-of-type(1) a {
  border-top: 1px solid #6d6d6d15;
  border-bottom: 1px solid #6d6d6d15;
}

nav ul li a:hover {

  background-color: #38acff;
}

header h1{
  width: 100%;
  margin:0;
  text-align: center;
  color: #5cbbff;
  font-size: 38px;
}

.box {
  margin: 10px 20px;
  background-color: #5cbbff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
}

.box>section {
  opacity: 0;
  max-height: 0;
  transition: .5s;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  color:white;
}

.box>section.active {
  max-height: 300px;
  opacity: 1;
}

.box>section p.filter {
  font-weight: bold;
  /* margin-left: 7px; */
  margin-bottom: 10px;
}

.box .excol-arrow {
  width: 100%;
  text-align: center;
}

.box .excol-arrow.active i{
  transform: rotate(-180deg);
  transition: 0.5s;
}

.box .excol-arrow i {
  color:white;
  display: block;
  margin: 0 auto;
  transition: 0.5s;
}

.box table {
  list-style-type: none;
  border-collapse: collapse;
  width:100%;
  max-width: 100%;
}

.box th {
  background-color: #0095ff
}

.box th i, .box p.filter i {
  margin-left: 5px;
  font-size: .7rem;
}

.box p.filter i.active {
  transform: rotate(180deg);
  transition: .5s;
}

.box th.sorted {
  background-color: #005c9e
}

.box td, .box th {
  border: 1px solid #0095ff;
  color: white;
  padding: 5px;
}

.box td.language {
  color: #ffbe3b;
  margin-right: 8px;
  font-weight: bold;
  text-align: center;
}

.box th.language {
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #0095ff
}

form.filter {
  display: none;
  margin-bottom: 20px;
}

form.filter.active {
  display: block;
}

form.filter input, form.filter select, form.filter input::before, form.filter select::before{
  font-size: 0.8rem;
  padding: 3px 6px;
}

div.filter_btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

form.filter button {
  position: relative;
  padding: 5px 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
  margin: 5px 0 10px;
  border-radius: 3px;
  height: 35px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #5cbbff;
}

form.filter button.clear_filter {
  color: #ff5959
}

.input_container::before {
  -moz-transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
  top: 55%
}

#add-flashcards button {
  position: relative;
  padding: 4px 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
  margin: 5px 0 10px;
  border-radius: 3px;
  height: 35px;
  font-size:14px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #5cbbff;
  cursor: pointer;
}

#add-flashcards h3 {
  display: flex;
  justify-content: space-between;
}

#add-flashcards h3 span {
  flex: 1 0 auto;
}

#add-flashcards h3 i {
  flex: 0 1 auto;
  color: #ff8787;
}

#add-flashcards .flashcard-input input{
  margin: 5px 0;
}

#add-flashcards .flashcard-input:nth-of-type(n+2){
  margin-top:10px;
}

#add-flashcards>section {
  max-height: none
}

#profile-settings-box>section{
  max-height: none;
  opacity: 1;
}

select[multiple] {
  margin-top: 5px;
  /* overflow: scroll; */
  height: auto;
}

#select-classes select {
  height: auto;
  max-height: none;
}

#flashcards-set>section {
  max-height: none;
}

#flashcards-set>section>div {
  margin-bottom: 12px;
  padding-bottom: 6px;
  border-bottom: 2px solid white;
  border-radius: 1px;
}

#flashcards-set>section p:first-of-type {
  display: flex;
  justify-content: space-between;
  padding: 0 4px 1px;
}

#flashcards-set>section p:first-of-type i {
  color: #ff8787;
}

#flashcards-set>section p:last-of-type {
  display: flex;
  justify-content: space-around;
}

#flashcards-set>section p:last-of-type i {
  color: #ffbe3b;
}

#browse-flashcards a{
  color: white;
  text-decoration: none;
}

i.fas.fa-trash {
  color: #ff8787;
  transition: .2s;
  z-index: 2;
}

i.fas.fa-trash:hover {
  text-shadow: 0px 0px 5px #FF8787
}

#flashcards-set h2 {
  position: relative;
}

#flashcards-set h2 a {
  color: white;
  text-decoration: underline;
}

#flashcards-set h2 i {
  position: relative;
  top: 2px;
}

#show {
  margin-top: 50px;
  color: white;
  height: 200px;
  font-size: 38px;
  position: relative;
  cursor: pointer;

}

#container {
  margin-left: auto;
  margin-right: auto;

  max-width: 450px;
}

#show span {
  transition: .1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

#show span.hide {
  opacity: 0
}

#arrows-container {
  display: flex;
  justify-content: space-between;
  margin:  0 20px;
  color: #ffbe3b;
  font-size: 26px;
  padding: 0 5px;
}

#arrows-container .fa-arrow-left {
  align-self: flex-end;
  padding-right: 10px;
}

#arrows-container .fa-arrow-right {
  align-self: flex-start;
  padding-left: 10px;
}


.d-none {
  opacity: 1;
}

.d-flex {
  padding:0 20px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#pages {
  text-align: center;
  font-size: 22px;
  color: #ffbe3b;
}

form.acc_delete {
  margin-top: 30px;
}

form.acc_delete input[type='submit'] {
  color: #ff5959;
  transition: .1s;
  cursor:pointer;
}

form.acc_delete input[type='submit']:hover {
  color: white;
  background-color: #ff5959;
}

@media (min-width: 768px) {
  aside {
    transform: translateX(250px);
  }

  body {
    margin-left: 250px;
  }

  #burger_container {
    display: none;
  }

  .box>section {
    max-height: none;
    opacity: 1
  }

  .box .excol-arrow {
    display: none;
  }

  .box>section.active {
    max-height: none;
  }

}

@media (min-width: 950px) {
  .d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .d-flex .box {
    margin-left: 10px;
    margin-right: 10px;
  }
}
